/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-text-weight);
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.header {
  background-color: #fff;
  border: 2px solid #000;
  padding: clamp(7.5rem, 7.28rem + 0.94vw, 8.125rem) 0px
    clamp(7.5rem, 7.28rem + 0.94vw, 8.125rem);
  margin: 100px 0px;
}

.inline-size {
  max-inline-size: var(--inline-size);
}

.header__title {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--accent-font-text-weight);
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7107rem + 1.5009vw, 4.0625rem);
  align-self: center;
  justify-self: center;
}

.header__text {
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--accent-font-text-weight);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6771rem + 0.8443vw, 1.4375rem);
  align-self: center;
  justify-self: center;
  padding-block-start: 20px;
}

.main {
  font-size: 18px;
}

.main__card-list {
  display: grid;
  gap: 52px;
}

.main__card-list-item {
  background-color: #fff;
  border: 2px solid #000;
}

.main__title {
  font-variation-settings: "wght" var(--main-font-title-weight);
  font-size: 18px;
  max-inline-size: 351px;
  padding: 5px 10px;
}

.label {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--accent-font-text-weight);
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}

.image {
  border: 2px solid #000;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.filter-brightness-contrast {
  filter: brightness(80%) contrast(80%);
}

.text__label {
  color: transparent;
  top: 25px;
  right: 25px;
  text-shadow: -1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color),
    1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
  opacity: 50%;
  position: absolute;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--label-stroke-color)) or
    (-webkit-text-stroke: 1px var(--label-stroke-color))
) {
  .text__label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.main__card-list-text {
  font-size: 18px;
  padding: 30px 25px 0px;
  line-height: 21px;
}

.like__buttons {
  display: flex;
  justify-content: end;
  align-items: start;
  padding: 23px 25px 24px 25px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
  padding: 0px;
  display: flex;
  margin-inline-end: 4px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--focus-visible-heart-button);
  margin: 7px;
}

.like-icon {
  transform-origin: center;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--main-body-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked:hover .main-body {
  fill: var(--main-body-color);
}

.like-icon:active .main-body {
  fill: var(--main-body-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--main-body-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked:hover .core {
  fill: var(--main-body-color);
}

.like-icon:active .core {
  fill: var(--main-body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  fill: var(--sparks-color);
  opacity: 0;
}

.button {
  border: 2px solid #000;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button::before {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  transform: translateX(-100%);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px #000;
}

.card__like-button {
  background-color: transparent;
  align-self: center;
  justify-self: center;
  padding: 5px 0px 0px 4px;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--accent-font-text-weight);
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: var(--hover-text-color);
  mix-blend-mode: difference;
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-brightness {
  filter: brightness(65%);
}

.filter-opacity {
  filter: opacity(85%);
}

.filter-saturate {
  filter: saturate(150%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-sepia {
  filter: sepia(0.4);
}

.main__button {
  background-color: #fff;
  padding: 16px 19px;
  margin: 50px 32.5px 100px 32.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.button__floppy {
  max-inline-size: 28px;
  block-size: auto;
  padding-block-end: 8px;
  position: relative;
  z-index: 1;
  color: var(--hover-text-color);
  mix-blend-mode: difference;
  fill: currentColor;
}

.dialog {
  padding: 0px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
}

.dialog__floppy {
  max-inline-size: 39px;
  block-size: auto;
  margin: 42px 20px 42px 38px;
}

.dialog__text {
  text-transform: uppercase;
  max-inline-size: 234px;
  line-height: 150%;
  padding: 30px 8px 30px 0px;
}

.main__form {
  padding: 0px 40px 26px 40px;
}

.ok__button {
  background-color: transparent;
  text-transform: uppercase;
  padding: 6px 114px 5px 113px;
}

@media (width >= 1440px) {
  .header {
    margin: 97px 0px;
  }

  .main__title {
    min-inline-size: 676px;
  }

  .main__button {
    flex-direction: row;
    justify-self: center;
  }

  .button__floppy {
    padding-block-end: 0px;
    padding-inline-end: 8px;
  }

  .dialog__floppy {
    margin: 38px 18px 42px 28px;
  }

  .dialog__text {
    padding: 28px 8px 28px 2px;
  }

  .main__form {
    padding: 0px 27px 27px 28px;
  }

  .ok__button {
    padding: 6px 129px 5px 131px;
  }
}
