:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "Press Start 2P";
  --main-font-title-weight: 715;
  --main-font-text-weight: 410;
  --accent-font-text-weight: 400;
  --gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --inline-size: clamp(375px, 100vw, 700px);
  --label-stroke-color: #fff;
  --hover-text-color: #fff;
  --focus-visible-heart-button: #000;
  --contour-color: #000;
  --sparks-color: #ff0000;
  --main-body-color: #ff0000;
  --core-color: #fff;
}
